* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte: Arial, sans-serif; /* Alterar quando decidirmos */
    --cor-preta: #000; /* Alterar quando decidirmos */
    --cor-branca: #fff; /* Alterar quando decidirmos */
    --cor-cinza: #bebebe; /* achar cinza claro */
    --cor-bg-input: rgb(247, 247, 247); /* Alterar quando decidirmos */
}
 
body {
    font-family: var(--fonte);
}

#main {
    display: flex;
}

#article-login {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#momentaneoLogo {
    margin-bottom: 7em;
}

#logo {
    font-size: 2em;
    text-transform: uppercase;
    padding: .1em;
    letter-spacing: 10px;
    font-weight: bolder;
}

#nomeProjeto {
    text-transform: uppercase;
    text-align: center;
    font-size: .8em;
    letter-spacing: 2px;
}

.login-title {
    font-size: 3.2em;
    font-weight: bold;
}

#login-paragrafo {
    font-weight: lighter;
    margin: 1em 0;
    color: var(--cor-cinza);
}

#btn-login {
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    border: 1px solid var(--cor-branca);
    padding: .5em 2em;
    border-radius: 100px;
    margin: 1em 0;
}

#btn-login:hover {
    background-color: var(--cor-branca);
    color: var(--cor-preta);
    transition: 1s;
}

#article-registrar {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
}

#subtitulo-login {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
}

#paragrafo-login {
    align-self: center;
    font-size: 1.1em;
    margin: .5em 0 3em 0;
}

#input-nome,
#input-email,
#input-senha {
    width: 100%;
    position: relative;
}

#input-nome i,
#input-email i,
#input-senha i {
    width: 100%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#form-login input {
    padding: 1.5em 4em;
    background-color: var(--cor-bg-input);
    border: none;
    margin: .5em 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 100%;
}

#form-login input::placeholder {
    font-size: 1.2em;
}

#btn-registrar {
    padding: 1em 2em;
    width: 50%;
    margin: 1.5em auto 0;
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
}

#btn-registrar:hover {
    background-color: #353535;
    transition: .5s;
}