body {
    background-color: var(--cor-branca);
}

header { 
    background-color: var(--cor-branca);
    width: 100vw;
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    z-index: 9999;
}

#section-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: .5em 0;
    max-width: 1000px;
}


#section-header img {
    width: 60px;
    border-radius: 50%;
    padding: .2em;
}

#input-pesquisar-eventos {
    padding: 1em 8em 1em 2em;
    width: 90%;
    max-width: 400px;
    border-radius: 50px;
    border: 1px solid rgba(3, 74, 141, 0.24);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.171); */
    box-shadow: 0 0 5px rgba(0, 96, 186, 0.171);
    outline: none;
    background-color: #f2f4f6;
    transition: .5s ease;
}

#input-pesquisar-eventos:focus {
    border: 1px solid var(--cor-principal);
}

#header-nav-logado {
    display: none;
}

#icone-user {
    padding: 0 .5em;
}

#header-nav-logado a {
    font-size: 1.3em;
    color: var(--cor-principal);
}
#header-nav {
    display: block;
}
#header-nav a {
    color: var(--cor-principal);
    text-decoration: none;
    font-size: 1.1em;
    transition: .5s ease;
    display: inline-block;
}

#header-nav a:hover {
    transform: scale(1.05);
}

#header-nav ul {
    display: flex;
    align-items: center;
}

#header-nav li {
    list-style-type: none;
}

#barra {
    width: 1.5px;
    height: 15px;
    background-color: var(--cor-principal);
    margin: 0 1em;
}

#icon-menu {
    display: none;
    font-size: 1.5em;
    color: var(--cor-principal);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#banner-principal {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
}

#banner-principal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.938));
    z-index: 1;
}

#banner-principal h1 {
    color: var(--cor-branca);
    font-size: 4em;
    width: 90%;
    max-width: 700px;
    line-height: 1em;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.212);
    position: relative;
    margin: .8em 0;
    z-index: 2;
}

#btns-links {
    z-index: 2;
}

#btns-links a {
    text-decoration: none;
    padding: .6em 2em;
    border-radius: 50px;
    margin: 0 .5em;
    transition: .5s ease;
}

#explorar-btn {
    border: 1px solid var(--cor-branca);
    background-color: var(--cor-branca);
    color: black;
}
#explorar-btn:hover {
    background-color: transparent;
    color: var(--cor-branca);
}

#publicar-btn {
    color: var(--cor-branca);
    background-color: transparent;
    border: 1px solid var(--cor-branca);
}

#publicar-btn:hover {
    background-color: var(--cor-branca);
    color: black;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}



#categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    max-width: 1000px;
    margin: 0 auto;
}

#categorias h2 {
    color: var(--cor-dark-bg);
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

#article-categorias-wrapper {
    display: flex;
    align-items: center;
    max-width: 600px; 
    position: relative;
}

#article-categorias {
    display: flex;
    gap: 2em;
    transition: transform 0.5s ease-in-out;
    width: max-content;  
    will-change: transform;
    overflow: hidden;
}

.categorias-eventos {
    text-decoration: none;
    color: var(--cor-dark-bg);
    flex: 0 0 auto;
    text-align: center;
    width: 120px; 
}

.categorias-eventos img {
    border-radius: 50%;
    margin-bottom: .5em;
    width: 100px;
    height: 100px;
    object-fit: cover;
    filter: brightness(40%);
}

.setas-slider {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    z-index: 10;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
}

#seta-esquerda {
    left: -100px; 
}

#seta-direita {
    right: -100px; 
}

#eventos-recem-postados {
    background-color: var(--cor-dark-bg);
    padding: 5em 0;
}

#subtitulo-recem-postados {
    color: var(--cor-branca);
    font-size: 1.8em;
    margin: 0 0 2em;
    text-align: center;
}

#ultimos-eventos-publicados {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    transition: 1s;
}

.evento {
    width: 300px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.158);
    border-radius: 10px;
    background-color: var(--cor-branca);
}

.evento img {
    max-width: 300px;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px 8px 0 0;
}

.infos-evento {
    padding: .5em 1em 1em 1em;
}

.infos-evento p {
    /* font-size: .9em; */
}

.categoria {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .7em;
    margin: .3em 0;
}

.titulo {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--cor-dark-bg);
}

.data-e-horario {
    display: flex;
    gap: .4em;
    margin: .3em 0;
    align-items: center;
}

.barra {
    width: 1px;
    height: 15px;
    background-color: #000;
}

.strong-text {
    font-weight: bold;
}

#divulgue-seu-evento {
    padding: 4em 0;
}

#subtitulo-divulgar-evento {
    color: var(--cor-dark-bg);
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
}

#link-pagina-publicar {
    display: block;
    margin: 2em auto;
    text-align: center;
    color: var(--cor-branca);
    background-color: var(--cor-dark-bg);
    width: fit-content;
    padding: 1em 2em;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid var(--cor-dark-bg);
    transition: .5s ease;
}


#link-pagina-publicar:hover {
    background-color: var(--cor-branca);
    color: black;
}

#como-publicar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.158);
    border-radius: 15px;
    /* border: 1px solid red; */
}

#como-fazer {
    max-width: 500px;
}

#como-fazer h3 {
    font-size: 2em;
    margin: .5em 0;
}
#como-fazer ol {
    margin: 0 1em;
}
#como-fazer li {
    padding: .2em 0;
}

#como-publicar img {
    width: 100%;
    max-width: 400px;
    border-radius: 7px;
}

footer {
    background-color: var(--cor-dark-bg);
    padding: 2em 0;
}

#footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-evenly;
}

footer img {
    width: 80px;
    background-color: var(--cor-branca);
    border-radius: 50%;
    padding: .5em;
    display: block;
}

#nome-empresa {
    text-decoration: none;
    color: var(--cor-branca) !important;
}
#nome-empresa img {
    margin-bottom: .5em;
}

#links-rapidos, 
#contatos {
    display: flex;
    flex-direction: column;
}
#links-rapidos p, 
#contatos p {
    margin-bottom: .5em;
}
#links-rapidos a, 
#contatos a {
    text-decoration: none;
    color: var(--cor-branca);
    font-size: .9em;
    padding: .1em;
}

#links-rapidos a:hover, 
#contatos a:hover {
    text-decoration: underline;
}

#nome-empresa,
#links-rapidos p,
#contatos p {
    color: var(--cor-principal);
}