@media screen and (max-width: 1024px) {
    #banner-principal h1 {
        font-size: 3em;
        width: 95%;
        margin: 1em 0;
    }

    #seta-esquerda {
        left: -50px; 
    }
    
    #seta-direita {
        right: -50px; 
    }
    
}

@media screen and (max-width: 768px) {
    #section-header {
        padding: 1em;
    }

    #header-links {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        background-color: var(--cor-principal);
        border-top: 1px solid rgba(0, 0, 0, 0.062);
        width: 100%;
        transform: translateY(76px) translateX(-300px);
        flex-direction: column;
        gap: 1.5em;
        padding: 1.5em;
        transition: .5s ease;
        z-index: 1;
    }

    #header-links.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(76px) translateX(0);
    }

    #header-nav ul {
        flex-direction: column;
        gap: .8em;
    }

    #header-links a {
        color: var(--cor-branca);
    }

    #section-header img {
        width: 40px;
    }

    #input-pesquisar-eventos {
        padding: 1em 1em 1em 2em;
        width: 60%;
        max-width: 400px;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: var(--cor-branca);
    } 

    #barra {
        display: none;
    }

    #icon-menu {
        display: block;
    }

    #article-categorias-wrapper {
        max-width: 425px; 
    }

    #como-publicar {
        flex-direction: column;
        gap: 2em;
    }
}

@media screen and (max-width: 550px) {
    #seta-esquerda {
        left: -15px; 
    }
    
    #seta-direita {
        right: -15px; 
    }

    #article-categorias-wrapper {
        max-width: 380px; 
    }

    #article-categorias {
        gap: .2em;
    }
    
    #footer {
        flex-direction: column;
        width: 90%;
        gap: 2em;
    }
}

@media screen and (max-width: 425px) {
    #banner-principal h1 {
        font-size: 2.5em;
        width: 95%;
        margin: 1.5em 0;
    }

    #seta-esquerda {
        left: -30px; 
    }
    
    #seta-direita {
        right: -30px; 
    }

    #article-categorias-wrapper {
        max-width: 245px; 
    }

    #article-categorias {
        gap: .2em;
    }
}