#article-login {
    width: 100vw;
    height: 100vh;
}

.login-title {
    font-size: 2em;
    line-height: 40px;
}

#login-paragrafo {
    letter-spacing: 2px;
    font-weight: bold;
}

#carregamento {
    animation: is-rotating 1s infinite;
    border: 6px solid var(--cor-branca);
    border-radius: 50%;
    border-top-color: transparent;
    height: 40px;
    width: 40px;
    margin: 2em 0;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }