@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #005fba; 
    --cor-dark-bg: #141414;
    --cor-branca: #f2f4f6; 
    --cor-cinza: #bebebe; 
    --cor-bg-input: rgb(247, 247, 247); 
    --fonte-principal: "Montserrat", sans-serif;
}
 
body {
    font-family: var(--fonte-principal);
}

#main {
    display: flex;
}

#btnDarkMode {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--cor-branca);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    transition: .5s;
}

#btnDarkMode:hover {
    transform: scale(1.2) rotate(-20deg);
}

#article-login {
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

#logo {
    width: 150px;
    background-color: var(--cor-branca);
    border-radius: 50%;
}

.login-title {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 55px;
    margin: .8em 0;
}

#login-paragrafo {
    font-weight: lighter;
    margin: 1em 0;
    color: var(--cor-branca);
}

#btn-login {
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
}

#btn-login::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 50%; 
    transform: translateX(-50%) translateY(26px); 
    background-color: var(--cor-branca);
    transition: .5s ease;
}

#btn-login:hover::after {
    width: 75px;
}

#btn-login:hover {
    transition: 1s;
}

#article-registrar {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-branca);
}

#form-registro {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
}

#subtitulo-login {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--cor-principal);
}

#paragrafo-login {
    align-self: center;
    font-size: 1.1em;
    margin: .5em 0 3em 0;
    color: var(--cor-principal);
}

#input-nome,
#input-email,
#input-senha {
    width: 100%;
    position: relative;
}

.iconeNome,
.iconeEmail,
.iconeSenha {
    width: 100%;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--cor-principal);
}

.displayIcone {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
    color: var(--cor-principal);
}

#iconeVisualizarSenha {
    opacity: 1;
}
#iconeVisualizarSenha.active {
    opacity: 0;
}

#iconeEsconderSenha {
    opacity: 0;
    pointer-events: none;
}
#iconeEsconderSenha.active {
    opacity: 1;
}

#form-registro input {
    padding: 1.5em 4em;
    background-color: var(--cor-bg-input);
    border: none;
    margin: .5em 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    width: 100%;
    outline: none;
}
#form-registro input:focus {
    border-bottom: 2px solid var(--cor-principal);
}

#form-registro input::placeholder {
    font-size: 1.2em;
}

#error-nome,
#error-email,
#error-senha {
    color: rgb(214, 40, 40);
    font-size: .8em;
    display: none;
}

#btn-registrar {
    padding: 1em 2em;
    width: 50%;
    margin: 1.5em auto 0;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    transition: .5s;
}

#btn-registrar:hover {
    background-color: #15325e !important;
}
